* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.header {
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  height: 75px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.button-wrapper > button {
  width: 9rem;
  height: 33px;
  border-style: none;
  border-radius: 5px;
  background-color: #efefef;
  cursor: pointer;
}

.button-wrapper > button:hover {
  transition: 250ms;
  background-color: #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main {
  background-color: #efefef;
  flex: 1;
  border-bottom: solid;
  border-top: solid;
  border-color: #e4e4e4;
}

.card-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 5vh;
  justify-content: center;
}

.card {
  height: 350px;
  width: 300px;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

form {
  background-color: yellow;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form button {
  width: 100px;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-card {
  display: block;
  width: 100px;
  height: 50px;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
}

svg {
  margin-left: 1ch;
  transition: 400ms;
  opacity: 1;
}

svg:hover {
  rotate: 360deg;
  transition: 500ms;
  scale: 36px;
}
